.footer-container{
    width: 100%;
    height: auto;
    background-color: #25303e;
    color: #83969f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons-contact-footer{
    background-color: #303d4c;;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.icons-contact-footer i{
    color: white;
    font-size: 1.4rem;
    margin: 0 20px;
}

.footer-icons-flex{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-container article{
    display: flex;
    flex-direction: column;
    padding: 20px 0 50px;
    max-width: 89%;
    text-align: center;
}