.header-box{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav-menu ul{
    display: flex;
}

.header-nav-menu ul li{
    display: inline-block;
    list-style: none;
    margin: 0 3px;
}

.header-nav-menu ul li a{
    display: block;
    text-decoration: none;
    color: #652e78;
    font-size: 1rem;
    padding: 1em;
}

.header-nav-menu ul > li a:hover{
    background-color: #ddc2e5;
}

.header-bg{
    background-image: url(../src/images/bg_topo_1600x1374.jpg);
    background-position: center;
    width: 100%;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-bg article{
    max-width: 60%;
    text-align: center;
}

.header-bg h1{
    font-size: 1.5rem;
    margin: 20px;
}
.header-bg p{
    font-size: 1rem;
}
.header-bg img{
    width: 120px;
    height: 120px;
}

.header-bg span{
    margin: 50px 0 0;
}

.button{
    font-size: 1rem;
    text-decoration: none;
    padding: 17px 40px;
    border-radius: 8px;
    background: #64cfcf;
    color: white;
    font-size: 1rem;
}

.button:hover{
    background-color: #52b4b4;;
}

@media screen and (max-width: 1180px){
    .header-bg img{
        width: 90px;
        height: 90px;
    }
    .header-bg span{
        margin: 50px 0 30px;
    }
}

@media screen and (max-width: 1000px){
    .header-bg{
        background-image: none;
        background-color: #652e78;
        height: auto;
        padding: 20px 0;
    }
    .header-bg article{
        max-width: 87%;
    }
    
}
@media screen and (max-width: 780px){
    .header-box{
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .header-nav-menu{
        width: 100%;
        height: auto;
    }

    .header-nav-menu ul{
        flex-direction: column;
    }
    
    .header-nav-menu ul > li{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #652e78;
        margin: 0;
    }
    
    .header-nav-menu ul > li a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 0;
        width: 100%;
        height: 50px;
    }

    .header-bg{
        background-color: rgb(240, 240, 240);
        height: auto;
        padding: 10px 0 0;
    }

    .header-bg img{
        display: none;
    }

    .header-bg h1{
        color: #652e78;
        font-size: 1.3rem;
    }

    .header-bg p{
        color: #9b77a7;
        font-size: 1rem;
    }

    .header-bg span{
        margin: 29px 0 17px;
    }
}
