.main-design{
    width: 100%;
    height: auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.main-design-flex{
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-design{
    max-width: 45%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
}

.cards-design h2{
    font-weight: lighter;
    font-size: 1.25rem;
    color: #652e78;
    margin: 0 0 18px;
    letter-spacing: 3px;
}

.cards-design p{
    font-size: 1rem;
    color: black;
    margin: 5px 0;
}

.cards-design span{
    margin: 30px 0 0;
}

.cards-design:nth-child(1){
    margin: 0 2% 50px;
}
.cards-design:nth-child(2){
    margin: 0 2% 50px;
}

@media screen and (max-width: 1180px){
    
    .main-design-flex{
        flex-direction: column;
        max-width: 87%;

    }
    
    .cards-design:nth-child(1){
        margin: 0 0 45px;
    }
    .cards-design:nth-child(2){
        margin: 0 0 45px;
    }
    .cards-design:nth-child(4){
        margin: 0;
    }

    .cards-design{
        max-width: 100%;
        margin: 0 0 62px;
    }
    .main-design{
        padding: 60px 0 77px;
    }
    .cards-design span{
        text-align: right;
    }
}

@media screen and (max-width: 780px){
    .cards-design span{
        text-align: left;
    }
}